* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width:1200px) {
    .nav-item> .nav-link {
        padding: 5px 20px !important;
        display: block;
    } 
}

@media only screen and (max-width:992px) {
   
    .nav-item> .nav-link {
        color: #000000 !important;
    }
    .nav-item> .nav-link:hover {
        color: #ee82ee !important;
    }
    .content-banner .first-title {
        font-size: 30px !important;
        color: #000000;
    }
    .content-banner .first-title {
        margin: 100px 0px 12px;
    }
    .navbar-collapse {
        background-color: #ffffff;
        padding: 30px;
    }   
    
}

a {
    text-decoration: none;
}
   

.content-banner {
    color: #ffffff;
    background-image: url(../img/banner.jpg);
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding-top: 125px;
}

.content-banner:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 229, 180, 0.747);
    top: 0;
    left: 0;
    z-index: 1;
}

.content-banner .first-title {
    font-size: 44px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    margin: 200px 0px 12px;
}

.content-banner .banner-ads {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-top: 0;
}

.banner-btn {
    padding: 0 34px;
    z-index: 1;
    margin: 30px auto 25px;
    line-height: 56px;
    position: relative;
    height: 56px;
    font-size: 16px;
    background-color: #ee82ee;
    display: inline-block;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
}

.banner-btn:hover {
    color: #ee82ee;
    background-color: #EEE3D4;
    font-weight: 600;
    padding: 0 30;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.31);
    border-radius: 6px;
}

.header {
    position: relative;
    width: 100%;
}

.header-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.logo {
    width: 150px;
    margin: -3px 0px 0px 0px;
}

.nav-item .nav-link {
    display: block;
    line-height: 36px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.15s;
}

.nav-item .nav-link:hover {
    color: #ee82ee;
}

.text-bg:hover {
    background-color: #ee82ee;
    border-radius: 40px;
}

.navbar-scroll {
    background-color: #ffffff;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
    color: #000000;
}

.navbar-scroll .nav-item .nav-link:hover {
    color: #ee82ee;
}



.navbar-scroll .text-bg:hover {
    background-color: #ee82ee !important;
}
.navbar-scroll .text-white {
    color: #000000 !important;
}

section {
    padding: 4rem 0rem 4rem;
}



/* footer */

.footer {
    background-color: rgb(245, 220, 244);
    

}

.footer .row .col-md-3 img {
    width: 200px;
}

.footer .row .col-md-3 p {
    font-weight: 600;
    color: #000;
}
.footer .row .col-md-3 p span {
    font-weight: 400;
}

.footer .row .col-md-3 h4 {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.footer .row .col-md-3 h4.news {
    margin-left: 0;
}

.footer .row .col-md-3 a {
    display: block;
    margin-bottom: 7px;
    color: #000;
    margin-left: 40px;
}

.footer .row .col-md-3 a:hover {
    color: #ee82ee;
}

.footer .row .col-md-3 .sub-input {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.footer .row .col-md-3 .sub-input input {
    padding: 12px 14px;
    border: 1px solid #ee82ee;
}

.footer .row .col-md-3 .sub-input button {
    background: #ee82ee;
    padding: 12px;
    border: 1px solid #ee82ee;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
}


.footer .footer-bottom {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.801);
    padding: 40px 0;
    color: #fff;
}

.footer .footer-bottom span {
    color: rgb(213, 20, 220);
    font-weight: 600;
}